@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="admin-content-con clearfix">
        <header>
            <h5>Commenters</h5>
        </header>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kingsley Ijomah</td>
                    <td>kingsley.ijomah@example.com</td>
                    <td><a href="#" class="label label-default">pending</a></td>
                    <td>Today 5:60pm - 14/09/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kingsley Ijomah</td>
                    <td>kingsley.ijomah@example.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:60pm - 14/09/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Kingsley Ijomah</td>
                    <td>kingsley.ijomah@example.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:60pm - 14/09/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kingsley Ijomah</td>
                    <td>kingsley.ijomah@example.com</td>
                    <td><a href="#" class="label label-success">active</a></td>
                    <td>Today 5:60pm - 14/09/2015</td>
                    <td><a href="#" class="label label-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
