
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng kí - Vehicle Tracker System</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/registration.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Đăng kí thành viên
            </div>
            <div class="panel-body">
                <div class="row wizard">
                    <div class="col-sm-2 nice-tab"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Home</div>
                    <div class="col-sm-3 nice-tab">Đăng kí thành viên</div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 well well-content">
            <div class="row">
                @using (Html.BeginForm())
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email</label>
                            <p>Bao gồm chữ và số, tối đa 80 kí tự</p>
                            <input type="text" placeholder="Enter Email Here.." class="form-control" name="Email" />
                        </div>

                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <p>Bao gồm chữ và số, tối đa 20 kí tự</p>
                            <input type="password" placeholder="Enter Password Here.." class="form-control" name="PassWord" />
                        </div>

                        <div class="form-group">
                            <label>Nhập lại mật khẩu</label>
                            <p>Giống với mật khẩu đã nhập</p>
                            <input type="password" placeholder="Enter Confirm Password Here.." class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Họ và tên</label>
                            <p>Bao gồm chữ, tối đa 100 kí tự</p>
                            <input type="text" placeholder="Enter Full Name Here.." class="form-control" name="FullName" />
                        </div>

                        <div class="form-group">
                            <label>Tên hiển thị</label>
                            <p>Bao gồm chữ và số, tối đa 20 kí tự</p>
                            <input type="text" placeholder="Enter Username Here.." class="form-control" name="UserName" />
                        </div>

                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <p>Bao gồm chữ và số, tối đa 100 kí tự</p>
                            <textarea placeholder="Enter Address Here.." rows="3" class="form-control" name="Address"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <p>Bao gồm số, tối đa 20 kí tự</p>
                            <input type="text" placeholder="Enter Phone Number Here.." class="form-control" name="PhoneNumber" />
                        </div>

                        <input type="button" class="btn btn-lg btn-info col-lg-offset-6 col-lg-2" value="Nhập lại" style="margin-right: 5px;" />
                        <input type="submit" class="btn btn-lg btn-info col-lg-2" value="Đăng kí" id="Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
