
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Đăng nhập - Vehicle Tracker System</title>
</head>

<body>
    @using (Html.BeginForm())
    {
        <div class="login-block">
            <h1>Admin Panel</h1>
            <input type="text" value="" placeholder="Username" id="username" name="Email" />
            <input type="password" value="" placeholder="Password" id="password" name="PassWord" />
            <span class="help-block">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </span>
            <input type="submit" value="Đăng nhập" id="submit" />
        </div>
    }
</body>
</html>